:root {
    --c-primary: #FFFFFF;
    --c-primary-twitter: #1DA1F2FF;
    --c-theme: rgb(29, 161, 242);
    --c-theme-10: rgba(29, 161, 242, 0.1);
    --c-text-color: #0F1419;
    --c-border-color: rgb(230,236,240);
    --c-gray: #536471;
    --c-dark-gray: #F7F9F9;
    --fade: 120ms;
}

html.dim {
    --c-primary: #15202B;
    --c-primary-twitter: #15202B;
    --c-theme: rgb(29, 161, 242);
    --c-theme-10: rgba(29, 161, 242, 0.1);
    --c-text-color: #F7F9F9;
    --c-border-color: #38444D;
    --c-gray: #8B98A5;
    --c-dark-gray: #192734;
}

html.dark {
    --c-primary: #000000;
    --c-primary-twitter: #000000;
    --c-theme: rgb(29, 161, 242);
    --c-theme-10: rgba(29, 161, 242, 0.1);
    --c-text-color: #D6D9DB;
    --c-border-color: #2F3336;
    --c-gray: #71767B;
    --c-dark-gray: #202327;
}