.sidebar {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media  (min-width: 980px) {
    align-items: flex-start;
    }

}

.tweet {
    margin-top: 16px;
    margin-bottom: 20px;

    @media (min-width: 1270px){
        width: 100%;
    }
}

.profile {
    margin-top: auto;
}

