.sidebar {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media  (min-width: 980px) {
        padding-left: 0;
    }

}

