.layout {
    display: grid;
    grid-template-columns: 230px 1fr; /* Mobilde 2 kolon */
    background-color: #333;
    min-height: 100vh;


@media (min-width: 980px) {
    grid-template-columns: 230px 1fr 230px; /* 980px+ 3 kolon */
}
}


